/*

1.What is CSS selector specificity and how does it work?

A:

*/

/*

2.What's the difference between "resetting" and "normalizing" CSS? Which would you choose, and why?

A:

*/

/*

3.

A:Describe Floats and how they work.

*/

/*

4.Describe z-index and how stacking context is formed.

A:

*/

/*

5.Describe BFC (Block Formatting Context) and how it works.

A:

*/

/*

6.

A:

*/

/*

7.

A:

*/
